nav {
  transition: all 400ms ease;

  .mobile-nav {
    transition: all 400ms ease;

    ul {
      li {
        a {
          color: white;
          display: block;
          padding: 10px 15px;
          margin: 5px 0;
        }
        a.active-link {
          color: rgb(202, 255, 205) !important;
        }
      }
    }
  }
}

// [ngClass]="navState ? 'max-h-screen' : ''"
