<section class="lg:py-[58px] xl:py-[68px]">
  <div class="container mx-auto px-[49px]">
    <div class="flex flex-col">
      <div class="flex flex-col lg:flex-row">
        <div class="content lg:w-2/3 pb-[78px]">
          <h1
            class="text-primary text-[30px] xxsm:text-[36px] xsm:text-[64px] font-[bold] xsm:leading-[75px]"
          >
            #1 skill development programs for kids
          </h1>
          <p class="text-[22px] mt-[22px] mb-[48px]">
            Hundreds of Interactive Online Classes. Keep kids engaged with
            topics they are most passionate about!
          </p>
          <a
            href="#"
            class="book-free-session bg-primary rounded-[10px] py-[11px] px-[20px] xsm:px-[36px] text-white shadow-primary"
            >Book a free session</a
          >
          <div
            class="extras flex flex-col gap-3 sm:flex-row sm:items-center sm:gap-[4rem] mt-[5.125rem]"
          >
            <div class="happy-studdents flex flex-col leading-10 text-text">
              <span class="font-[medium]">Happy Students</span>
              <span class="text-[3rem] font-[medium] text-bigtext"
                ><strong>5,000+</strong></span
              >
              <span>future problem solvers</span>
            </div>
            <hr class="border-text" />
            <div class="courses flex flex-col leading-10 text-text">
              <span class="font-[medium]">Courses</span>
              <span class="text-[3rem] font-[medium] text-bigtext"
                ><strong>10+</strong></span
              >
              <span>Interactive courses</span>
            </div>
          </div>
        </div>
        <div class="header-img order-[-1] lg:order-1">
          <img src="/assets/images/header.svg" class="w-full" alt="" />
        </div>
      </div>

      <div
        class="our-partners grid grid-cols-2 xsm:grid-cols-3 sm:grid-cols-4 place-items-center lg:flex items-center justify-between"
      >
        <h2 class="text-[20px] font-[bold] text-black">Our Partners</h2>
        <div class="icon">
          <img src="/assets/icons/jazz.svg" alt="" />
        </div>
        <div class="icon">
          <img src="/assets/icons/MOITT.svg" alt="" />
        </div>
        <div class="icon">
          <img src="/assets/icons/NIC.svg" alt="" />
        </div>
        <div class="icon">
          <img src="/assets/icons/Colab.svg" alt="" />
        </div>
        <div class="icon">
          <img src="/assets/icons/ignite.svg" alt="" />
        </div>
        <div class="icon">
          <img src="/assets/icons/teamup.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
